* {
    font-family: Suisse Intl, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#productDetailsCont {
    height: 520px;
    width: 80%;
    margin: auto;
    display: flex;
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
}

#ProductImages {
    height: 520px;
    width: 7%;
    border: 1px solid red;
}

#productMainImage {
    height: 520px;
    width: 37%;
    border: 1px solid red;
}

#productDetails {
    height: 520px;
    width: 40%;
    border: 1px solid red;
}

#relatedProduct {
    height: 520px;
    width: 15%;
    border: 1px solid red;
}

#smallImage {
    border: 1px solid gray;
    width: 99%;
    height: 80px;
}

#mainImage {
    display: block;
    margin: auto;
    width: 95%;
    height: 90%;
    margin-top: 10%;
    /* margin-top: 20%; */
    /* border: 1px solid black; */
}

#productDetails>button {
    display: block;
}

#brand {
    margin-top: 5px;
    margin-left: 3%;
}

#detail {
    margin-top: -15px;
    font-size: 20px;
    color: gray;
    margin-left: 3%;
}

#priceDiv {
    display: flex;
    align-items: center;
    margin-top: -15px;
    margin-left: 3%;
}

#price {
    font-size: 20px;
    color: rgb(255, 72, 0);
}

#oldPrice {
    font-size: 16px;
    text-decoration: line-through;
    margin-left: 5px;
    color: gray;
}

#fromDiv {
    margin-top: -30px;
    margin-left: 3%;
}

#relatedProduct>img {
    display: block;
    margin: auto;
    width: 95%;
    height: 30%;
}

#from {
    color: gray;
}

#fromSpan {
    color: black;

}

#shopNowDiv {
    width: 94%;
    margin: auto;
    padding-top: 1px;
    height: 55px;
    padding-bottom: 1px;
    font-size: 17px;
    color: white;
    background-color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

#shopNow,
#shopNow2 {
    visibility: hidden;
}

#shopNow1,
#shopNow2 {
    margin-top: -5px;
}

#shopNowDiv:hover #shopNow2 {
    visibility: visible;
}

#shopNowDiv:hover #shopNow {
    visibility: visible;
}

#trackDiv {
    width: 94%;
    margin: auto;
    margin-top: 5px;
    height: 55px;
    font-size: 18px;
    background-color: rgb(248, 248, 248);
    cursor: pointer;
    font-weight: bold;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#trackDiv:hover {
    border: 1px solid black;
    margin-top: 4px;
    /* margin-right: 1px; */
}

.heartIcon {
    margin-right: 10px;
}